<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div id="BOX">&nbsp; Welcome  User</div>
    <div id="box">
        <div id="box1">
            <div id="list1">List 1</div>
            
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div><br>
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
            <br>
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div><br>
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
            </div>
            <div id="box2">
                <div id="list2">List 2</div>
                <div>
                    <input type="checkbox" value="" aria-label="Checkbox for following text input">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
                <br>
                <div>
                    <input type="checkbox" value="" aria-label="Checkbox for following text input">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div><br>
                <div>
                    <input type="checkbox" value="" aria-label="Checkbox for following text input">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>

        </div>
        <div id="box3">
            <div id="list3">List 3</div>
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox"> 
            </div> <br>
            <div>
                <input type="checkbox" value="" aria-label="Checkbox for following text input">
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
        </div>
        <div id="box4">
            <div id="list4">Create New List</div>
            <img id="img" src="https://cdn-icons-png.flaticon.com/512/262/262038.png" alt="Italian Trulli">
        </div>
        
    </div>
    
</body>
</html>